h1, p {
  font-family: Lato;
}.App {
  font-family: sans-serif;
  text-align: center;
}

.paginationBts {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBts a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid pink;
  color: lightblue;
  cursor: pointer;
}
.paginationBts a:hover {
  color: white;
  background-color: blue;
}
.paginationActive a {
  color: white;
  background-color: violet;
}
